a {
  color: steelblue;
  font-weight: 700;
  margin-bottom: 10px;
}

h2 {
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  color: white;
  margin-top: 5px;
  width: 60%;
  background-color: steelblue;
  line-height: 2.5;
  align-self: center;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

label {
  display: block;
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: 500;
  font-size: 16px;
}

legend {
  font-weight: 600;
  font-size: 17px;
}

.address {
  width: 70%;
  margin-top: 25px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-color: steelblue;
  padding-bottom: 20px;
}

.create-employee {
  width: 50%;
}

input {
  width: 50%;
  height: 30px;
  text-align: center;
  font-size: 15px;
  border-color: rgba(147, 147, 147, 0.239);
  border-style: solid;
  border-width: 1;
  padding-left: 10px;
}

input::placeholder {
  color: rgb(102, 102, 102);
  text-align: start;
  font-size: 14px;
}

.set-input {
  width: 70%;
}

.css-b62m3t-container {
  width: 70%;
  text-align: start;
}

.css-13cymwt-control {
  border-color: steelblue;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}

.btn-submit {
  width: 130px;
  height: 40px;
  margin-top: 15px;
  margin-bottom: 50px;
  background-color: steelblue;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: 500;
}